.callout[data-callout="code"] {
  --callout-color: var(--callout-quote);
  --callout-icon: lucide-terminal;
}


.callout[data-callout="graph"] {
  --callout-color: var(--callout-quote);
  --callout-icon: lucide-area-chart;
}
