@use "./base.scss";

@use "../../content/.obsidian/snippets/qed.css";

.center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.broad,
.narrow,
.recon,
.ling {
  font-family: var(--lingFont);
}

.broad:before,
.broad:after {
  font-family: var(--font-text-override);
  content: "/";
}

.narrow:before {
  font-family: var(--font-text-override);
  content: "[";
}

.narrow:after {
  font-family: var(--font-text-override);
  content: "]";
}

.recon:before {
  font-family: var(--font-text-override);
  content: "*";
}
